body {
    background-color:darkolivegreen;
}

#form {
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;    
    padding: 50px 0px;
    text-align: center;
}

#benzyna {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -22px;
}

#olej {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

#litr {
    margin-right: auto;
}